__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
build/
notebook/
.pytest_cache/
*.egg-info/
*.log
*.tmp
arquivos_baixados_sharepoint/
arquivos_tratados/
desktop.ini
old_class_ParticipantesProcessor.py
old_class_FrequenciaProcessor_gemini.py
old_class_FrequenciaProcessor.py